<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<button (click)="googleSignIN()">GoogleSignIn</button>
<button (click)="faceSignIn()">FBSignIn</button>

<input type="text" [(ngModel)]="message" placeholder="message">
<input type="text" [(ngModel)]="to" placeholder="to">
<button (click)="sendMessage()">Send Message</button>

<input type="text" [(ngModel)]="id" placeholder="id">
<button (click)="setId()">set id</button> -->


<div class="masonry-demo">

  <h1> Masonry Demo</h1>

  <masonry-layout [options]="masonryOptions" [useImagesLoaded]="true">
    <masonry-item  *ngFor="let picture of masonryImages"  class="masonry-item">
      <img src="{{picture.picture}}">
    </masonry-item>
  </masonry-layout>

  <button *ngIf="limit < 100" (click)="showMoreImages()">Show More Images</button>
  <h2 *ngIf="limit >= 100">No More Images</h2>
</div>
